* {
    padding: 0;
    margin: 0;
  }
  .topic{
    padding-top:6%; 
    font-family:san-serif; 
    background: -webkit-linear-gradient(90deg, #030101,hwb(270 56% 43%),#030707);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  body {
    display: flex;
    justify-content: center;
    background-image: linear-gradient( 145deg ,rgb(85, 85, 189), rgb(231, 195, 195) ,pink);
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  button:hover {
    cursor: pointer;
    background-color: #73E831;
  }
  ul {
    list-style-type: none; 
  }
  .container {
    min-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
  }
  .todof{
    margin:10%;
  }
  .todo-form {
    margin: 40px 0px;
  }
  .todo-input {
    width: 80%;
    border: none;
    border-radius: 5px;
  
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
  }
  .add-button {
    background-color: #acacbd;
    color: #fff;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2rem;
  }
  .todo-items {
    min-width: 370px;
  }
  .item {
    background-color: #fff;
    padding: 10px;
    font-size: 1.1rem;
  }
  .item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .checkbox {
    margin-right: 10px;
  }
  .delete-button {
    float: right;
    background-color:rgb(90, 84, 84);
    border: none;
    border-radius: 7px;
    padding: 2px 5px;
    margin-left: 10px;
    font-size: 1.1rem; 
  }
  .edit-button {
    float: right;
    background-color:rgb(90, 84, 84);
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 2px 5px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 550;
  }


.toast {
  position:absolute;
  bottom: 83.8%;
  left: 80%;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  
}

